body, html {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
}

#map {
   height: 100%;
   width: 100%;
}

#controls {
   position: absolute;
   background-color: #ddd;
   border-radius: 0.2em;
   padding: 1em;
   top: 18px;
   left: 100px;
   width: 150px;
}

#controls * {
   vertical-align: baseline;
}

#error {
   position: absolute;
   background-color: #ccc;
   border-radius: 1em;
   padding: 1em;
   top: 100px;
   left: 200px;
   width: 600px;
}

#error p {
   margin-bottom: 1em;
}
